<% provide :title, (community_news_tag @community_news.tag) %>
<div class="show-community-news">
  <div class="row news-title">
    <div class="columns small-10 small-offset-1">
      <h3 class="text-center"><%= @community_news.title %></h3>
    </div>
  </div>

  <div class="row sub-title-community-news">
    <div class="columns small-10 small-offset-1">
      <%= render partial: 'sub_title', locals: { community_news: @community_news } %>
    </div>
  </div>

  <div class="row news-content">
    <% if @photos %>
    <% @photos.each do |pic| %>
    <div class="columns small-10 small-offset-1">
      <%= image_tag pic.image %>
    </div>
    <% end %>
    <% end %>
    <div class="columns small-10 small-offset-1">
      <%= simple_format @community_news.content %>
    </div>
  </div>

  <% if edit_and_delete_power @community_news %>
  <div class="row">
    <div class="columns small-10 small-centered">
      <ul class="button-group even-2">
        <li><%= link_to '编辑', edit_community_news_path(@community_news), class: 'button tiny info' %></li>
        <li><%= link_to '删除', community_news_path(@community_news), method: :delete, data: {confirm: '确认删除?'}, class: 'button tiny alert' %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
