<form action="<%= photos_path %>" class="dropzone" id="my-dropzone" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
  <input type="hidden" name="parent" value="comments">
</form>
<%= form_for @comment, data: {abide: ''} do |f| %>
<input type="hidden" , name='photo_ids' value="" class="pic-ids">
<input type="hidden" , name='delete_ids' value="" class="delete-ids">
<input type="hidden" , name='comment_parent' value="<%= params[:controller] %>">
<input type="hidden" , name='parent_id' value="<%= params[:id] %>">
<%= render 'layouts/form_errors', object: @comment %>
<%= show_error_message('内容不能为空,请不要超过1千字！') %>
<div class="row">
  <div class="small-11">
    <%= f.text_area :body, class:'comment-area', required: true,placeholder:t(:comment), rows: 10%>

<%#= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'zh'} , required: true%>

<%= f.submit class:'tiny button radius right' %>
</div>
</div>
<% end %>
