

<%= form_for @topic do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :community_id, value: current_user.community_id %>
<div class="row">
  <div class="columns small-12">
    <%= f.text_field :title, class: 'form-control', placeholder: '标题' %>
  </div>
</div>
  <div class="row">
  <div class="columns small-12">
    <%= f.text_area :content, class: 'form-control', placeholder: '正文', rows: 6 %>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <%= f.submit '提交', class: 'button expand' %>
  </div>
</div>

<% end %>