<% provide :title, '社区论坛' %>
<div class="community-topics-index">

<div class="community-service-index">
  <div class="order-buttons row">
  <div class="columns small-2">
      排序:
    </div>
    <div class="columns small-10">
      <div class="">
        <div class="button-bar">
          <ul class="button-group radius">
            <li><a href="javascript:void(0)" class="tiny button success order-button" data-orderby="name" data-with="<%= @order_by == 'name' ? (@with == 'asc' ? 'desc' : 'asc') : 'asc' %>">社区名称<i class="fa <%= @order_by == 'name' ? (@with == 'asc' ? 'fa-caret-down' : 'fa-caret-up') : '' %>"></i></a></li>
            <li><a href="javascript:void(0)" class="tiny button success order-button" data-orderby="title" data-with="<%= @order_by == 'title' ? (@with == 'asc' ? 'desc' : 'asc') : 'asc' %>">论坛主题<i class="fa <%= @order_by == 'title' ? (@with == 'asc' ? 'fa-caret-down' : 'fa-caret-up') : '' %>"></i></a></li>
            <li><a href="javascript:void(0)" class="tiny button success order-button" data-orderby="created_at" data-with="<%= @order_by == 'created_at' ? (@with == 'asc' ? 'desc' : 'asc') : 'asc' %>">发布时间<i class="fa <%= @order_by == 'created_at' ? (@with == 'asc' ? 'fa-caret-down' : 'fa-caret-up') : '' %>"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if @topics.present? %>
  <div class="topics">
    <%= render partial: 'topics_lists', locals: { topics: @topics } %>
  </div>
  <% else %>
  <div class="no-objects">暂无话题</div>
  <% end %>

  
</div>