<% provide :title, '社区论坛' %>
<div class="show-community-topic">
  <div class="row topic-title">
    <div class="columns small-10 small-offset-1">
      <h3 class="text-center"><%= @topic.title %></h3>
    </div>
  </div>

  <div class="row sub-title-community-topic">
    <div class="columns small-10 small-offset-1">
      <%= render partial: 'sub_title', locals: { topic: @topic } %>
    </div>
  </div>

  <div class="row topic-content">
    <% if @photos %>
    <% @photos.each do |pic| %>
    <div class="columns small-10 small-offset-1">
      <%= image_tag pic.image %>
    </div>
    <% end %>
    <% end %>
    <div class="columns small-10 small-offset-1">
      <%= simple_format @topic.content %>
    </div>
  </div>
  <% if edit_and_delete_power @topic %>
  <div class="row">
    <div class="columns small-10 small-centered">
  <ul class="button-group even-2">
  <li><%= link_to '编辑', edit_topic_path(@topic), class: 'button tiny info' %></li>
  <li><%= link_to '删除', topic_path(@topic), method: :delete, data: {confirm: '确认删除?'}, class: 'button tiny alert' %></li>
</ul>
</div>
</div>
<% end %>
</div>

<%= render '/comments/comments_list_and_form' %>
